.filter-item{
    padding:8px;
    display:flex;
    background-color: aliceblue;
    color:#d16d8b;
    border:1px solid #03989e;
    border-radius: 8px;
    margin: 10px 10px 10px 0px;
    font-size: 14px;
}
.filter--name{
    margin-left: 4px;
}