.tab-options{
  box-shadow: white 0px -0.5px 0px inset;  
}
.options-wrapper{
    display:flex;

}
.tab-item{
    margin-right:24px;
    padding:12px 12px 20px 12px;
}
.tab-name{
    font-size:20px;
    font-weight:600;
    margin-left:10px;
    color:#03989e;
}
 .tab-image-container{
    height: 40px;
    width: 40px;
    border-radius:50%;
    background-color: aliceblue;
} 
.tab-image{
    height:30px;
    width:30px;
}
.active-tab{
    border-bottom:2px solid #03989e;
}
.active-tab .tab-name{
    color: #d16d8b;
}